.FirstBlock {
  width: 100px;
  height: 50px;
  background-color: #FF00FF;
  margin: 10px;
  margin-top: 70px;
  display: inline-block;	
}

.SecondBlock {
  width: 100px;
  height: 50px;
  background-color: #FF00FF;
  margin: 10px;
  margin-top: 70px;
  display: inline-block;	
}

.BouncingCircle {
  width: 50px;
  height: 50px;
  background-color: #FF00FF;
  border-radius: 25px;
  margin: 10px;
  margin-top: 70px;
  display: inline-block;
  animation-name: BouncingCircle;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes BouncingCircle {
  0% {
    height: 40px;
    border-radius: 25px/20px;
  }
  100% {
    transform: translateY(-60px);
  }
}

.InfiniteAnimation {  
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: radial-gradient(#FFFF00, #FFA500);
  margin-left: 25px;
  margin-top: 25px;
  animation-name: InfiniteAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes InfiniteAnimation {
   15% {
     border-radius: 0px;
   }
   45% {
     height: 50px;
     width: 50px;
     transform: skew(30deg, 40deg);
   }
   60% {
     transform: rotate(180deg);
   }
   75% {
     background: radial-gradient(#FF0000, #0000FF);
   }
   100% {
     border-radius: 50px;
     background: #FFFF00;
   }
}

.PageLoader {
  width: 500px;
  height: 50px;
  margin-left: 200px;
  margin-top: 200px;
  background: #00FF7F;
  animation-name: PageLoader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes PageLoader {
  100% { 
    width: 1000px;
    height: 50px;
    margin-left: 500px;
    margin-top: 200px;
    background: #E6E6FA;
  }
}