.button {
  border-radius: 15px;
  background: #575ce8;
  background-image: radial-gradient(#575ce8 100px, #7f86d1);
  width: 260px;
  height: 68px;
  border-style: double;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 25pt;
  text-align: center;
  line-height: 200%;  
  transition: all 0.5s;
}

.button:hover {
  box-shadow: 0 0 10px 5px #afeeee;
}