#border {
  width: 347px;
  height: 230px;
  border: 3px solid #cccccc;
}

.circle {
  height: 143px;
  width: 143px;
  border-radius: 70px;
  background-image: radial-gradient(#00bc9e, #00bc9e);
  margin-left: 100px;
  margin-top: 40px;
}
