a {
  font-family: serif;
  font-size: 20pt;
  color: #0000ee;
  text-decoration: none;
}

li {
  display: inline;
  margin-left: 10px;
  transition: all 0.2s;
}

li:hover:not(:nth-last-of-type(1)) {
  border-bottom: 2px solid #0000ee;
}

li:not(:nth-last-of-type(1)):after {
  margin-left: 10px;
  content: '|';
  font-size: 20pt;
  color: red;
  transition: all 0.4s;
}

li:hover:after {
  opacity: 0;
}
