.content {
  display: flex;
}

.border {
  width: 20%;
  border: 9px solid #AFEEEE;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.header {
  font-family: sans-serif;
  font-size: 12pt;
  padding: 10px 10px;
  background-color: #FFD700;
  position: relative;
}

.header:before {
  content: '';
  display: inline-block;
  position: absolute; 
  top: 100%;
  left: 10px;
  border: 10px solid transparent;
  border-top-color: #FFD700;
}

.p {
  font-family: sans-serif;
  font-size: 11pt;
  color: #808080;
  padding: 10px;
}
