#first {
  background-color: #569099;
  width: 340px;
}

#first p {
  color: white;
  font-family: serif;
  font-size: 25pt;
  font-weight: 600;
  padding: 10px 10px;
}

#second {
  background-color: #cad8d0;
  width: 340px;
  height: 115px;
}

#second p {
  font-family: serif;
  margin: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
